@import "tailwindcss";

:root {
  /* Background */
  --color-bg-primary: #0F172A;
  --color-bg-secondary: #1E293B;
  --color-bg-hover: #334155;

  /* Border */
  --color-border: #475569;

  /* Text */
  --color-text-primary: #F8FAFC;
  --color-text-secondary: #CBD5E1;

  /* Brand */
  --color-accent: #2563EB;
  --color-accent-hover: #1D4ED8;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}